* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.namebar {
    display: flex;
    margin-right: auto;
    font-size: larger;
    font-weight: bold;
    padding: 10px;

    /* border: solid;
    border-width: 4px;
    border-radius: 2%; */
}

nav {
    background-color: rgb(255, 123, 0);
    color: white;
    display: flex;
    flex: wrap;
    justify-content: end;   
    padding: 4px;
}

button {
    padding: 1%;
    margin: 3px;
    border-radius: 5px;
    background-color: rgb(255, 185, 92);
    font-weight: bold;
    box-shadow: 1px 1px 5px;
}

.button:hover {
    background-color: #e6820000;
    transition-duration: 0.3s;
    color: white;
    cursor: pointer;
}

.button:active {
    background-color: brown;
}

.button:focus {
    outline-color: transparent;
    outline-style:solid;
    box-shadow: 0 0 0 4px #ff9252;
}

.header {
    background-color: rgb(255, 204, 146);
    height: 100%;
    background:url(https://images.unsplash.com/photo-1628965880619-bd47243535ae); /* Find a way to zoom out */
    padding: 20px;
    margin: auto;
}

.welcome { 
    display: flex;
    justify-content: end;
    color: black;
    font-size: 20px;
    background-color: white; /* Find a way to make this a surrounding box instead of bar*/
    padding: 10px;
}

/* img {
    max-width: 200px;
    max-height: 200px;
} */

.aboutme {
    
}

  footer {
    text-align: center;
    color: slategray;
}


/* add img/avi of me - front page */
/* UI scroller for clickable links (top right) */
/* add titled images of previous applications (real or demonstration purposes?) */
/* make first application larger than the rest */
/* application images should be clickable (BUTTON: HOVER,FOCUS,ACTIVE), and deploy into other pages (NEW TAB) */
/* @Media screen resizer -- flex? */