* {
    font-family: sans-serif;
}

.namebar {
    display: flex;
    margin-right: auto;
    font-size: large;
    font-weight: bold;
    padding: 5px;

    /* border: solid;
    border-width: 4px;
    border-radius: 2%; */
}

nav {
    background-color: rgb(255, 123, 0);
    color: white;
    display: flex;
    justify-content: end;   
    padding: 4px;
}

button {
    padding: 1%;
    margin: 3px;
    border-radius: 5px;
    background-color: rgb(255, 185, 92);
    font-weight: bold;
}

.button:hover {
    background-color: #e6820000;
    transition-duration: 0.3s;
    color: white;
    cursor: pointer;
}

.button:active {
background-color: brown;
}


.button:focus {
    outline-color: transparent;
    outline-style:solid;
    box-shadow: 0 0 0 4px #ff9252;
}

.header {
    background-color: rgb(255, 204, 146);
}
